/*! Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

/** Root style */
:root {
  --primary-color: #FF900E;
  --secondary-color: #727272;
}

/** Common Style */
body {
  margin: 0;
  background: #FFFFFF;
  color: #131313;
  font-family: 'Work Sans', sans-serif;
}

/** Header style*/
header {
  width: 100%;
  background: rgba(255, 144, 14, 0.1);
  text-align: center;
}

/** Navbar style */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 240px 100px 240px;
}

.nav-title {
  font-weight: 700;
  font-size: 2.5rem;
}

.nav-menu ul {
  display: flex;
  list-style: none;
  font-weight: 500;
  font-size: 1rem;
}

.nav-menu ul>li {
  color: #424242;
  margin-left: 75px;
}

/** Banner Style */
.banner-container {
  margin: 0 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-info {
  width: 862px;
}

.banner-title {
  font-weight: 700;
  font-size: 64px;
  margin: 0 auto 0 auto;
}

.banner-description {
  font-weight: 400;
  font-size: 16px;
  color: var(--secondary-color);
  margin-bottom: 30px;

}

.primary-btn {
  width: 180px;
  height: 64px;
  background-color: var(--primary-color);
  border-radius: 8px;
  border: none;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}

/** Banner Image style */

.banner-image {
  width: 100%;
  height: 700px;
  background-image: url(../images/banner.png);
  border-radius: 8px;
  margin-top: 50px;
  margin-bottom: 45px;
  background-repeat: no-repeat;
}

/** Feature styles */

.feature-container {
  margin: 85px 300px 130px 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}

.feature-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
}

.feature-image img {
  width: 342px;
  height: 342px;
  border-radius: 8px;
}

.feature-info {
  width: 535px;

}

.feature-title {
  font-weight: 700;
  font-size: 45px;
}

.title-span {
  font-weight: 500;
  font-size: 45px;
  color: var(--secondary-color);
}

.feature-span {
  font-weight: 700;
  font-size: 45px;
  color: var(--primary-color);
}

.feature-description {
  font-weight: 400;
  font-size: 16px;
  color: var(--secondary-color);
  margin-bottom: 30px;
  line-height: 26px;
}

/** Feature Details styles*/
.section-container {
  display: flex;
  margin: auto 240px 130px 240px;
  justify-content: space-between;
}

.section-info {
  width: 468px;
}

.section-info .section-title {
  font-weight: 700;
  font-size: 45px;
  padding-left: 20px;
  border-left: 5px solid var(--primary-color);
  margin-bottom: 25px;
}

.section-description {
  font-weight: 400;
  font-size: 16px;
  color: var(--secondary-color);
  line-height: 26px;
  margin-bottom: 30px;
}

.section-info-box {
  /* display: grid;
  text-align: left;
  grid-template-columns: repeat(1, 1fr); */

}

.info-box {
  width: 586px;
  height: 160px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  justify-content: center;
  padding: 30px 30px 30px 40px;
  margin-bottom: 20px;
}

.box-title {
  font-weight: 600;
  font-size: 20px;
}

.box-description {
  font-weight: 400;
  font-size: 16px;
  color: var(--secondary-color);
}

/** SEction Image */
.section-image img {
  width: 708px;
  height: 982px;
  border-radius: 8px;
}

.section-image button {
  width: 342px;
  height: 200px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 950px;
  top: 3250px;
}

.btn-title {
  font-weight: 700;
  font-size: 60px;
}

.btn-title span {
  font-weight: 500;
  font-size: 25px;
}

/** About facts style  */
.fact-container {
  margin-left: 240px;
}

.fact-title {
  font-weight: 700;
  font-size: 45px;
}

.fact-description {
  font-weight: 400;
  font-size: 16px;
  width: 542px;
  color: var(--secondary-color);
}